<div class="container">
  <form class="form-horizontal">

    <!-- <h2>Test</h2>
   <div class="form-group">
     <label for="focusedInput" class="control-label">Focused</label>
     <input class="form-control" id="focusedInput" type="text"/>
   </div>
   <div class="form-group">
     <label for="inputPassword" class="control-label">Disabled</label>
     <input class=="form-control" id="disabledInput" type="text" disabled />
   </div>
   <div class="form-group has-success has-feedback">
     <label for="inputSuccess2" class="control-label">Input with success</label>
     <input type="text" class="form-control" id="inputSuccess2"/>
     <span class="glyphicon glyphicon-ok form-control-feedback"></span >
   </div>
   <div class="form-group has-warning has-feedback">
     <label for="inputWarning2" class="control-label">Input with warning</label>
     <input type="text" class="form-control" id="inputWarning2"/>
     <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
   </div>
   <div class="form-group has-error has-feedback">
     <label for="inputError2" class="control-label">Input with error</label>
     <input type="text" class="form-control" id="inputError2"/>
     <span class="glyphicon glyphicon-remove form-control-feedback"></span>
   </div> -->

   <div class="row">
     <div class="col-xs-60 col-sm-60 col-md-28">
       <div class="panel panel-default">
         <div class="panel-heading">
           <h2> Généralités </h2>
         </div>
         <div class="panel-body">

           <div class="form-group">
             <label for="inputNom" class="control-label col-xs-20">Nom *</label>
             <div class="input-group col-xs-40">
               <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
               <input type="text" class="form-control" id="inputNom" placeholder="Nom">
             </div>
           </div>

           <div class="form-group">
             <label for="inputPrenom" class="control-label col-xs-20">Prénom *</label>
             <div class="input-group col-xs-40">
               <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
               <input type="text" class="form-control" id="inputPrenom" placeholder="Prénom">
             </div>
           </div>

           <div class="form-group">
             <label for="inputEntreprise" class="control-label col-xs-20">Nom entreprise</label>
             <div class="input-group col-xs-40">
               <span class="input-group-addon"><span class="glyphicon glyphicon-briefcase"></span></span>
               <input type="text" class="form-control" id="inputEntreprise" placeholder="Nom de l'entreprise">
             </div>
           </div>

           <div class="form-group">
             <label for="inputEmail" class="control-label col-xs-20">E-mail *</label>
             <div class="input-group col-xs-40">
               <span class="input-group-addon"><span class="glyphicon glyphicon-send"></span></span>
               <input type="email" class="form-control" id="inputEmail" placeholder="email">
             </div>
           </div>

           <div class="form-group">
             <label for="inputTel" class="control-label col-xs-20">N° de téléphone *</label>
             <div class="input-group col-xs-40">
               <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
               <input type="tel" class="form-control" id="inputTel" placeholder="0041...">
             </div>
           </div>

           <div class="form-group">
             <label for="inputPlace" class="control-label col-xs-20"> Lieu du déroulement du projet, type d'accès (voiture, bus), etc...  * </label>
             <div class="input-group col-xs-40">
               <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
               <textarea class="form-control" id="inputPlace" placeholder="près du chêne au centre du village, en voiture se parker 50m en direction de ..." rows="5"></textarea>
             </div>
           </div>

           <div class="form-group">
             <label for="inputAvailabilities" class="control-label col-xs-20"> Disponibilités pour un éventuel rendez-vous * </label>
             <div class="input-group col-xs-40">
               <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
               <textarea class="form-control" id="inputAvailabilities" placeholder="vendredi 6 décembre, dès 18h ou mercredi 11 décembre le matin ..." rows="5"></textarea>
             </div>
           </div>


         </div>
       </div>
     </div>

     <div class="col-xs-60 col-sm-60 col-md-28 col-md-offset-2">
       <div class="panel panel-default">
         <div class="panel-heading">
           <h2> Projet </h2>
         </div>
         <div class="panel-body">

           <div class="form-group">
             <label for="inputNom" class="control-label col-xs-15">Nom *</label>
             <div class="input-group col-xs-45">
               <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
               <input type="text" class="form-control" id="inputNom" placeholder="Nom">
             </div>
           </div>

           <div class="form-group">
             <label for="inputPrenom" class="control-label col-xs-15">Prénom *</label>
             <div class="input-group col-xs-45">
               <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
               <input type="text" class="form-control" id="inputPrenom" placeholder="Prénom">
             </div>
           </div>

           <div class="form-group">
             <label for="inputPrenom" class="control-label col-xs-15">Nom entreprise</label>
             <div class="input-group col-xs-45">
               <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
               <input type="text" class="form-control" id="inputPrenom" placeholder="Prénom">
             </div>
           </div>



         </div>
       </div>
     </div>
   </div>


  </form>
</div>
