
<% if medias.any? %>
  <% if medias.first.photosvideo.type.name == "Picture" %>
    <h3> Images : </h3>
  <% elsif medias.first.photosvideo.type.name == "Video" %>
    <h3> Vidéos : </h3>
<% end %>
  <!-- le transitions-enabled ne fonctionne pas, je comprends pas pk-->
  <div id="medias" class="transitions-enabled"> 
    <div id="player-wrapper"></div>
    <% medias.each  do |galerie| %>
          <% if galerie %>
            <div class="item_galery">
              <div class="yt_video thumbnail">             
                <%= link_to image_tag(galerie.media2,
                                      class: 'img-rounded'),
                            "?uid=#{galerie.media3}&pic=#{galerie.media}", :remote => true, :class => "launch-modal",:id => "launch-modal-id", data: {"modal-id": "modal-video", "uid": "#{galerie.media3}"} %>
              </div>
            </div>
        <% end %>
    <% end %>
    </div>
    <%= will_paginate medias,:previous_label => 'Previous', :next_label => 'Next' %>
    <% end %>
