

  <% if medias.any? %>
  <!-- le transitions-enabled ne fonctionne pas, je comprends pas pk-->
  <div id="medias" class="transitions-enabled"> 
    <h1>Latest videos</h1>
    <div id="player-wrapper"></div>
    <% medias.each  do |galerie| %>
          <% if galerie %>
            <div class="item">
              <div class="yt_video thumbnail">             
                <%= link_to image_tag(galerie.imageable.media2,
                                      class: 'img-rounded'),
                            "?uid=#{galerie.imageable.media3}&pic=#{galerie.imageable.media}", :remote => true, :class => "launch-modal",:id => "launch-modal-id", data: {"modal-id": "modal-video", "uid": "#{galerie.imageable.media3}"} %>
              </div>
            </div>
        <% end %>
    <% end %>
    </div>
    <% end %>

