

<footer>

    <div class="panel-body">
      <div class='row'>
        <div class='col-xs-60 col-sm-30 col-md-20 text-left'>
          <p>YC movies</p>
          <p>c/o Cyrill Burri</p>
          <p>Rue de la Combe-Grieurin 39B</p>
          <p>2300 La Chaux-de-Fonds</p>
          <p>Suisse</p>
        </div>

        <div class='col-xs-60 col-sm-30 col-md-20 text-center'>

            <p class="in_line_block">Pour voir notre actualité, rejoignez-nous sur</p>

          <a href="https://www.facebook.com/YCmovies/" class="in_line_block vertical-mid">
              <figure id="logo_facebook">
    					</figure>
            </a>

        </div>

        <div class='col-xs-60 col-sm-30 col-md-20 text-center'>
          <p>Besoin d'informations précises ? Accédez aux statuts de notre association! [doc]</p>
        </div>

        <div class='col-xs-60 col-sm-offset-40 col-sm-20 col-md-offset-45 col-md-15 text-right'>
          <a href=""> Interface admin </a>
        </div>

      </div>


	  </div>

</footer>
