<footer>
	<div class="panel panel-default">
    <div class="panel-body">
		<p>Footer informations</p>

    <p>Further informations</p>

    <p>Footer informations</p>

    <p>Footer informations</p>

    <p>Footer informations</p>
	  </div>
	</div>
</footer>
