<header>
	<nav class="navbar navbar-default navbar-fixed-top yc-navbar" role="navigation">
		<div>
			<div class="navbar-header">

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
				<a href="/">
					<figure id="logo_navbar">
							<figure id="logo_gif_navbar"></figure>
					</figure>
				</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

				<ul class="nav navbar-nav yc-navbar-nav">
					<li>
						<a href="/prestation_orders/new/step1">Prestations</a>
					</li>
					<li>
						<a href="#">News</a>
					</li>
					<li>
						<a href="/galerie">Galerie</a>
					</li>
					<li>
						<a href="/about">A propos</a>
					</li>
					<li>
						<a href="#">Donation</a>
					</li>
					<li>
						<a href="#">Contact</a>
					</li>
				</ul>

			</div>
	  </div>
	</nav>
</header>
