<div class="container">
  <div class="row">
    <h2>Qui sommes-nous ?</h2>
    <p>YC movies est une association audiovisuelle à but non-lucratif fondée en septembre 2015 dont le 
	siège se trouve à la Chaux-de-Fonds. Son but est de permettre à des étudiants en cinéma et publicité 
	de créer périodiquement des métrages artistiques et commerciaux de qualité.</p>
    <h2>Nos membres</h2>
    <p>YC movies est composée de membres non-rémunérés et non-professionnels, étudiants et passionnés de 
	cinéma et de publicité. Son comité comprend actuellement sept membres, dont trois étudiants issus du 
	corps universitaire de Neuchâtel, spécialisé dans le marketing et la communication, ainsi que quatre 
	membres spécialisés dans les différents domaines techniques que requiert la création audiovisuelle.</p>
    <h2>Nos activités</h2>
    Afin d’acquérir des ressources financières pour développer l’association et concrétiser l’ensemble 
	de ses projets, YC movies utilise ses compétences et son matériel pour produire régulièrement des 
	vidéos promotionnelles. Celles-ci financent le matériel utilisé, les locaux, les transports, les 
	courriers postaux et tout autre type de dépenses nécessaire aux activités que nous menons.</p>
    <h2>Notre background</h2>
    <p>En moins d’une année, nous avons multiplié les travaux, et collaboré avec l’Hôpital du Jura, 
	l’entreprise pharmaceutique Menarini, nous avons également encadré un mariage, réalisé deux 
	aftermovies de la Hot Siberia à la Brévine, une promotion de l’Inox Bar à la Chaux-de-Fonds et 
	terminé trois courts-métrages artistiques. Nous collaborons actuellement avec l’Université de 
	Neuchâtel sur certains projets. </p>
  </div>
</div>