<div class="container">
  <h1>New galerie</h1>

  <%= form_for @galerie do |f| %>

    <div class="form-group">
      <%= f.label :mylink %>
      <%= f.text_field :mylink, class: 'form-control', required: true %>
      <span class="help-block">A link to the galerie on YouTube.</span>
    </div>

    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>