<h2> Récapitulatif et confirmation de la prestation </h2>

<p>
  <strong> Nom : </strong>
  <%=h @prestation_order.name %>
</p>

<p>
  <strong> Prénom : </strong>
  <%=h @prestation_order.firstname %>
</p>
