<h1>New Prestation Order</h1>


<div class="container">

  <%= form_for(@prestation_order, html: {class: "form-horizontal"}) do |f|  %>
    <% if @prestation_order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@prestation_order.errors.count, "error") %> prohibited this prestation_order from being saved:</h2>

        <ul>
        <% @prestation_order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <%= render 'new_step' + @step_number , prestation_order: @prestation_order, f: f %>

  <% end %>

</div>
