


<div class="container">
  <%= form_for(@prestation_order, html: {class: "form-horizontal"}) do |f|  %>

  <%= render 'new_step' + @prestation_order.current_step.to_s , prestation_order: @prestation_order, f: f %>

  <% end %>

</div>
