@import "myvariables";

//Push footer to bottomest place

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

//



//Footer appearance

footer {
  background-color: $black_brighter;
  margin-top: 30px;
}

footer > div{
  margin-bottom: 0 !important;
  max-width: 1200px;
  margin: 0 auto;
}

//
