@import "myvariables";

//Push footer to bottomest place

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

//



//Footer appearance

footer {
  background-color: $black_brighter;
  margin-top: 30px;
}

footer > div{
  margin-bottom: 0 !important;
  max-width: 1200px;
  margin: 0 auto;
}

#logo_facebook {
  height: 35px;
  width: 35px;
  background-image: url( asset-path("facebook_icon.png") );
  background-size: cover;
  background-repeat: no-repeat;
}

.in_line_block{
  display: inline-block;
}

.vertical-mid{
  vertical-align: middle;
}

//
