// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Common variables
@import "myvariables";


//*********
//
//Carousel home
//
//*********
#carousel-home {

}

//*********
//
//Prestations
//
//*********

.prestations-div-home{
  padding: 0 !important;
}

.prestations{
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 736px 200px;
  min-height: 200px;
  height: 200px;
  display: block;
}

#prestations_1 {
background-image: url("http://lorempixel.com/736/200/");
}

#prestations_2 {
background-image: url("http://lorempixel.com/736/200/");
}

#prestations_3 {
background-image: url("http://lorempixel.com/736/200/");
}

#prestations_4 {
background-image: url(asset-path("mariage_736x200.jpg"));
}

#prestations_5 {
background-image: url("http://lorempixel.com/736/200/");
}

@media (min-width: 768px){
  .prestations{
    background-size: 640px 200px;
  }

  #prestations_1 {
  background-image: url("http://lorempixel.com/640/200/");
  }

  #prestations_2 {
  background-image: url("http://lorempixel.com/640/200/");
  }

  #prestations_3 {
  background-image: url("http://lorempixel.com/640/200/");
  }

  #prestations_4 {
  background-image: url(asset-path("mariage_640x200.jpg"));
  }

  #prestations_5 {
  background-image: url("http://lorempixel.com/992/200/");
  background-size: 992px 200px;
  }
}

@media (min-width: 992px){
  .prestations{
    background-size: 288px 200px;
  }

  #prestations_1 {
  background-image: url("http://lorempixel.com/288/200/");
  }

  #prestations_2 {
  background-image: url("http://lorempixel.com/288/200/");
  }

  #prestations_3 {
  background-image: url("http://lorempixel.com/288/200/");
  }

  #prestations_4 {
  background-image: url(asset-path("mariage_288x200.jpg"));
  }

  #prestations_5 {
  background-image: url("http://lorempixel.com/288/200/");
  background-size: 288px 200px;
  }
}

@media (min-width: 1442px){
  .prestations{
    background-size: 640px 200px;
  }

  #prestations_1 {
  background-image: url("http://lorempixel.com/640/200/");
  }

  #prestations_2 {
  background-image: url("http://lorempixel.com/640/200/");
  }

  #prestations_3 {
  background-image: url("http://lorempixel.com/640/200/");
  }

  #prestations_4 {
  background-image: url(asset-path("mariage_640x200.jpg"));
  }

  #prestations_5 {
  background-image: url("http://lorempixel.com/640/200/");
  background-size: 640px 200px;
  }
}
