// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Common variables
@import "myvariables";


//*********
//
//Carousel home
//
//*********
#carousel-home {

}

//*********
//
//Prestations
//
//*********

.prestations-div-home{
  padding: 0 !important;
}

.prestations{
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 736px 200px;
  min-height: 200px;
  height: 200px;
  display: block;
}

#prestations_1 {
background-image: url(asset-path("Themes/Theme_1_reportages_736_200_000000.png"));
}

#prestations_2 {
background-image: url(asset-path("Themes/Theme_2_aftermovies_736_200_000000.png"));
}

#prestations_3 {
background-image: url(asset-path("Themes/Theme_3_commerciales_736_200_000000.png"));
}

#prestations_4 {
background-image: url(asset-path("Themes/Theme_4_mariages_736_200_000000.png"));
}

#prestations_5 {
background-image: url(asset-path("Themes/Theme_5_creations_736_200_000000.png"));
}

@media (min-width: 768px){
  .prestations{
    background-size: 640px 200px;
  }

  #prestations_1 {
  background-image: url(asset-path("Themes/Theme_1_reportages_640_200_000000.png"));
  }

  #prestations_2 {
  background-image: url(asset-path("Themes/Theme_2_aftermovies_640_200_000000.png"));
  }

  #prestations_3 {
  background-image: url(asset-path("Themes/Theme_3_commerciales_640_200_000000.png"));
  }

  #prestations_4 {
  background-image: url(asset-path("Themes/Theme_4_mariages_640_200_000000.png"));
  }

  #prestations_5 {
  background-image: url(asset-path("Themes/Theme_5_creations_992_200_000000.png"));
  background-size: 992px 200px;
  }
}

@media (min-width: 992px){
  .prestations{
    background-size: 288px 200px;
  }

  #prestations_1 {
  background-image: url(asset-path("Themes/Theme_1_reportages_288_200_000000.png"));
  }

  #prestations_2 {
  background-image: url(asset-path("Themes/Theme_2_aftermovies_288_200_000000.png"));
  }

  #prestations_3 {
  background-image: url(asset-path("Themes/Theme_3_commerciales_288_200_000000.png"));
  }

  #prestations_4 {
  background-image: url(asset-path("Themes/Theme_4_mariages_288_200_000000.png"));
  }

  #prestations_5 {
  background-image: url(asset-path("Themes/Theme_5_creations_288_200_000000.png"));
  background-size: 288px 200px;
  }
}

@media (min-width: 1442px){
  .prestations{
    background-size: 640px 200px;
  }

  #prestations_1 {
  background-image: url(asset-path("Themes/Theme_1_reportages_640_200_000000.png"));
  }

  #prestations_2 {
  background-image: url(asset-path("Themes/Theme_2_aftermovies_640_200_000000.png"));
  }

  #prestations_3 {
  background-image: url(asset-path("Themes/Theme_3_commerciales_640_200_000000.png"));
  }

  #prestations_4 {
  background-image: url(asset-path("Themes/Theme_4_mariages_640_200_000000.png"));
  }

  #prestations_5 {
  background-image: url(asset-path("Themes/Theme_5_creations_640_200_000000.png"));
  background-size: 640px 200px;
  }
}
